<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <link rel="stylesheet" href="/css/flipclock.css" />
    <script src="/scripts/flipclock.js"></script>
    <style>
      body {
        background-color: darkkhaki;
      }
    </style>
  </head>
  <body>
    <header><%- include ./header %></header>
    <div class="container-fluid">
      <div class="jumbotron row">
        <% if (root) { %>
        <div class="col" style="border-right: 1px solid #ccc">
          <h1>
            Round <br />
            name <br />
            to be <br />
            displayed <br />
            here...
          </h1>
        </div>
        <div class="col" style="border-right: 1px solid #ccc">
          <img src="https://picsum.photos/400?random" alt="" />
        </div>

        <div class="col">
          <h3>Rules</h3>
          <ul>
            <li>Rule1</li>
            <li>Rule2</li>
            <li>Rule3</li>
          </ul>
          <form action="/round/5/ques">
            <input type="submit" value="Start" class="btn btn-primary m-5" />
          </form>
        </div>

        <% } else { %>
        <div class="col-md-8" style="height:500px;border-right: 1px solid #ccc">
          <p>
            <%= question %>
          </p>
        </div>

        <div class="col-md-4">
          <div class="clock" style="margin-top:20%;"></div>
          <div class="message"></div>
          <script type="text/javascript">
            var clock;
            let timeroff = `<%= timeroff %>`;
            console.log(timeroff);
            const duration = 30;
            if (timeroff == 1) {
              duration = 0;
            } else {
              console.log("duration", duration);
              $(document).ready(function() {
                clock = $(".clock").FlipClock(duration, {
                  clockFace: "MinuteCounter",
                  countdown: true,
                  callbacks: {
                    stop: function() {
                      $(".message").html("The clock has stopped!");
                    }
                  }
                });
              });
              window.setInterval(() => {
                window.location.href = `/round/5`;
              }, (duration + 1) * 1000);
            }
          </script>
        </div>
        <% } %>
      </div>
    </div>
    <footer><%- include ./footer %></footer>
  </body>
</html>
