<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <link rel="stylesheet" href="/css/flipclock.css" />
    <script src="/scripts/flipclock.js"></script>
    <style>
      body {
        background-color: darkkhaki;
      }
    </style>
  </head>
  <body>
    <header><%- include ./header %></header>
    <audio id="myAudio">
      <source src="/audio/buzzer.mp3" type="audio/mpeg" />
    </audio>

    <div class="container-fluid">
      <div class="jumbotron row">
        <% if (root) { %>
        <div class="col" style="border-right: 1px solid #ccc">
          <h1>
            Round <br />
            name <br />
            to be <br />
            displayed <br />
            here...
          </h1>
        </div>
        <div class="col" style="border-right: 1px solid #ccc">
          <img src="https://picsum.photos/400?random" alt="" />
        </div>

        <div class="col">
          <h3>Rules</h3>
          <ul>
            <li>Rule1</li>
            <li>Rule2</li>
            <li>Rule3</li>
          </ul>
          <a href="/round/1/ques">
            <img src="/img/start.svg" alt="" height="120px" width="auto" />
          </a>
        </div>

        <% } else { %>
        <div class="col-md-8" style="height:500px;border-right: 1px solid #ccc">
          <% if(timeroff == 1) { %>
          <img src="/img/over.png" alt="" height="450px" width="auto" />
          <% } else { %>
          <p>
            <%= question %>
          </p>
          <% }%>
        </div>

        <div class="col-md-4">
          <div class="clock" style="margin-top:20%;"></div>
          <div class="message"></div>
          <script type="text/javascript">
            var clock;
            var x = document.getElementById("myAudio");
            let timeroff = `<%= timeroff %>`;
            const duration = 10;
            if (timeroff == 1) {
              duration = 0;
            } else {
              $(document).ready(function() {
                clock = $(".clock").FlipClock(duration, {
                  clockFace: "MinuteCounter",
                  countdown: true,
                  callbacks: {
                    stop: function() {
                      $(".message").html("The clock has stopped!");
                    },
                    interval: function() {
                      var time = this.factory.getTime().time;
                      if (time === 3) {
                        playAudio();
                        console.log("time = ", time);
                      }
                    }
                  }
                });
              });
              window.setInterval(() => {
                window.location.href = `/round/1`;
              }, (duration + 1) * 1000);
            }

            function playAudio() {
              x.play();
            }
            function pauseAudio() {
              x.pause();
            }
          </script>
        </div>
        <% } %>
      </div>
    </div>
    <footer><%- include ./footer %></footer>
  </body>
</html>
