<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>
    <link rel="stylesheet" href="/css/score.css" />

    <title>Scorecard</title>
  </head>
  <body>
    <header><%- include ./header %></header>
    <div>
      <div id="pricing-table" class="clear">
        <div align="center">
          <img src="/img/scoreboard.png" width="60%" />
        </div>
        <br />
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team A</b>
                  <span><%= totals[0] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teama) { %>
                    <h2><%= scores[i].teama %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team B</b>
                  <span><%= totals[1] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teamb) { %>
                    <h2><%= scores[i].teamb %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team C</b>
                  <span><%= totals[2] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teamc) { %>
                    <h2><%= scores[i].teamc %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team D</b>
                  <span><%= totals[3] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teamd) { %>
                    <h2><%= scores[i].teamd %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team E</b>
                  <span><%= totals[4] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teame) { %>
                    <h2><%= scores[i].teame %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="plan">
                <h3>
                  <b>Team F</b>
                  <span><%= totals[5] %></span>
                </h3>
                <ul>
                  <% for(let i = 0;i < scores.length;i++) { %>
                  <li>
                    <b>R o u n d <%= scores[i].round %></b>
                    <% if (scores[i].teamf) { %>
                    <h2><%= scores[i].teamf %></h2>
                    <% } else{ %>
                    <h2>-</h2>
                    <% } %>
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer><%- include ./footer %></footer>
  </body>
</html>
